[submodule "libft"]
	path = libft
	url = https://github.com/serg-backend-developer/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/serg-backend-developer/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/serg-backend-developer/get_next_line
[submodule "so_long"]
	path = so_long
	url = https://github.com/serg-backend-developer/so_long
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/serg-backend-developer/minitalk
[submodule "push-swap"]
	path = push-swap
	url = https://github.com/serg-backend-developer/push-swap
[submodule "minishell"]
	path = minishell
	url = https://github.com/serg-backend-developer/minishell
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/serg-backend-developer/philosophers
[submodule "inception"]
	path = inception
	url = https://github.com/serg-backend-developer/inception
[submodule "42webserv"]
	path = 42webserv
	url = https://github.com/serg-backend-developer/42webserv
[submodule "cub3d"]
	path = cub3d
	url = https://github.com/serg-backend-developer/cub3d
